{% extends 'base.html' %}
{% block body %} 
<div class="container-fluid" >
  <h1>MoneY</h1>
  <div class="input-group mb-3">
    <span class="input-group-text">Saldo </span>
    <span class="input-group-text">R$ {{saldo}}</span>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">Receita Mensal </span>
    <span class="input-group-text">R$ {{receita}}</span>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">Despesa Mensal</span>
    <span class="input-group-text">R$ {{despesa}}</span>
  </div>

  <div class="d-grid gap-4 d-md-flex">
    <a 
      href="{{url_for('cadastrar', tipo='receita')}}"
      class="btn btn-success"
      name="type"value="receita"
    >
      + Receita
    </a>
    <a 
      href="{{url_for('cadastrar',tipo='despesa')}}"
      class="btn btn-warning"
      name="type" value="despesa"
    >
      - Despesa
    </a>
  </div>
</div>    
{% endblock %}